body {
	background-color: #FFFFFF;
	}

input,select,option {
	color: #0088E4;
}

td,th {
	font-size: 16px;
	color: #0088E4;
}

tr,td {
	color: #0088E4;
	text-align: left;
}

td {
	padding: 2px;
}

h1 {
	font-size: xx-large;
	color: #0088E4;
}

h2 {
	font-size: x-large;
	color: #0088E4;
}

h3 {
	font-size: large;
	color: #0088E4;
}

h4 {
	font-size: medium;
	color: #0088E4;
}

h5 {
	font-size: small;
	color: #0088E4;
}

h6 {
	font-size: x-small;
	color: #0088E4;
}

p {
	font-size: medium;
	color: #0088E4;
}

legend {
	font-size: large;
	color: #0088E4;
}

table {
	margin: auto;
}

img {
	border-width:0px;
}

.center {
	text-align: center;
}

.main {
    text-align: center;
    margin: 0px 60px 00px 60px;
}
